.wrapper .Rectangle-3 {
    display: flex;
    align-items: center;
    max-width: 503px;
    height: 379px;
    border-radius: 44px;
    background-color: #e990f9;
    flex-direction: column;
    justify-content: space-around;
    margin: 7% auto auto;
}
.wrapper .Rectangle-3 .btn-let-me-in {
    width: 151px;
    height: 60px;
    border-radius: 36px;
    background: none;
    color: #ffffff;
    border: 3px solid #fff;
    cursor: pointer;
}
.wrapper .Rectangle-3 .btn-let-me-in:focus {
    outline: none;
}

@media(max-width: 960px) {
    .wrapper .Rectangle-3 {
        background-color: #ffffff;
    }
    .wrapper .Rectangle-3 .btn-let-me-in {
        border: 3px solid #e990f9;
        color: #e990f9;
    }
}